.logoText {
    font-size: 3.25rem;
    font-weight: bold !important;
}

.navBarButtonText {
    font-size: 18px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    #navBar {

        padding-right: 90px !important;
        padding-left: 90px !important;
    
        padding-top: 25px !important;
        padding-bottom: 10px !important;
    
        border-bottom: none !important;
    
    }

}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    .ml-4, .mx-4 {
        margin-left: 0 !important;
    }

}