<!-- Navigation Bar -->
<div id="navBar" class="d-flex flex-column flex-sm-row align-items-center p-3 px-sm-4 mb-3 bg-white border-bottom box-shadow">
    
    <h5 class="logoText my-0 mr-sm-auto font-weight-normal ml-4">
        <a class="text-dark noTextDecoration" routerLink="/homepage">xMorfina</a>
    </h5>

    <nav class="my-2 my-sm-0 mr-sm-3">
      <a class="navBarButtonText p-2 m-3 text-dark" routerLink="/addDesign">Add Design</a>
      <a class="navBarButtonText p-2 m-3 text-dark" routerLink="/homepage">Designs</a>
      <a class="navBarButtonText p-2 text-dark" routerLink="/contact">Contact</a>
    </nav>
    
  </div>