<!-- Navigation Bar -->
<app-navingation-bar></app-navingation-bar>

<!-- Drawings showcase -->
<div class="container">

  <div class="row">

    <!-- Details column -->
    <div class="col-sm-7">

      <!-- About -->
      <div class="row">
        <div class="col">
            <h1>About</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
            </p>
            </div>
      </div>

      <!-- Commissions -->
      <div class="row">
        <div class="col">
            <h1>Commissions</h1>
            <p >
                If you want to commission a drawing or a design, feel free to contact me on my <a [routerLink]="" (click)="this.facebookPageOpenerService.open();">Facebook Page</a>. I would be more than happy to help you!
            </p>    
        </div>
      </div>

      <!-- Collaborations -->
      <div class="row">
        <div class="col">
            <h1>Collaboration</h1>
            <img src="/assets/logos/TeeFury2.png" class="border border-dark icon mr-2">
            <img src="/assets/logos/TeeFury2.png" class="border border-dark icon mr-2">
            <img src="/assets/logos/TeeFury2.png" class="border border-dark icon mr-2">
            <img src="/assets/logos/TeeFury2.png" class="border border-dark icon mr-2">
            <img src="/assets/logos/TeeFury2.png" class="border border-dark icon mr-2">
            <img src="/assets/logos/TeeFury2.png" class="border border-dark icon mr-2">
            <img src="/assets/logos/TeeFury2.png" class="border border-dark icon mr-2">
            <img src="/assets/logos/TeeFury2.png" class="border border-dark icon mr-2">
            <img src="/assets/logos/TeeFury2.png" class="border border-dark icon mr-2">
            <img src="/assets/logos/TeeFury2.png" class="border border-dark icon mr-2">
            <img src="/assets/logos/TeeFury2.png" class="border border-dark icon mr-2">
            <img src="/assets/logos/TeeFury2.png" class="border border-dark icon mr-2">
            <img src="/assets/logos/TeeFury2.png" class="border border-dark icon mr-2">
            <img src="/assets/logos/TeeFury2.png" class="border border-dark icon mr-2">
        </div>
      </div>

    </div>

    <!-- Photo column -->
    <div class="col-sm-5">
      <img src="/assets/photos/xMorfina.jpg" class="w-100 h-100">
    </div>

  </div>

</div>